
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "External\\JSONes"]
	path = External\\JSONes
	url = https://github.com/kayaocal/JSONes.git
